body {
  background-color: #f4f4f4;
  margin: 1rem 0 3rem 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 300px;
  max-width: 1600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

p {
  font-family: var(--font-text);
}

.name__section {
  margin: 3rem 0 1rem 0;
  font-family: var(--font-title);
}
